html {
	box-sizing: border-box;
	height: 100vh;
}

nav {
	padding: 4px 8px;
}

#nav-brand {
	padding-top: 2.5px;
}

.navbar-start {
	padding: .5rem;
}

.navbar-item {
	padding: .5rem;
}

#navLink {
	padding-left: 8px;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.hero {
	background-color: black;
}

/* .hero-text {
	margin: px
} */

#kitty {
	transform: rotate(275deg);
}

.image {
	margin-top: 20px;
}

#robo {
	margin: 10px
}

@media screen and (max-width: 1024px) {
	#kitty {
		display: none;
	}
}