html {
	box-sizing: border-box;
}

body {
	height: 100vh;
}

nav {
	padding: 4px 8px;
}

#nav-brand {
	padding-top: 2.5px;
}

.navbar-start {
	padding: .5rem;
}

.navbar-item {
	padding: .5rem;
}

#navLink {
	padding-left: 8px;
}

#kitty {
	transform: rotate(280deg);
}